/* Removing any unnecessary padding and margins. */
/* Changing the background color and turning the page into a flex */
body {
    background-color: rgb(213, 225, 239);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* creation of the card */

/* fixing out the dimensions of the background of the card */
/* positioning the content of the card and creating an external border for the card */
.background_card{
    position: absolute;
    width: 30vh;
    height: 50vh;
    top: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    border-radius: 20px;
    box-shadow: 40px 60px 90px hsl(0, 1%, 69%); 
}

/* creating an external border for the image */
img{
    max-width: 100%;
    border-radius: 10px;
}


/* changing the direction of the content */
/* aligning the texts to the center */
/* changing the font style of the texts */
.script{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Outfit', sans-serif;

}


/* changing how bold the head is */
#main_script{
    font-weight: 700;
}

/* changing the size, color, and how bold the paragraph is */
#second_script{
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}


/* changing the position of the attribution */
.attribution{
    position: absolute;
    top: 90%;
}

@media (min-width: 300px){
    .background_card{
        width: 200px;
        height: 370px;
    }
}